.sec-3{
    display: flex;
    justify-content: center;
    min-width: 320px;
    
    background-color: var(--bg);
    color: var(--w);
    &__tab{
        margin: 140px auto;
        width: calc(100vw - 64px);
        height: auto;
        
        display: flex;
        flex-direction: row;        
        justify-items: center;
        align-items: center;
        justify-content: center;
        
        &--content{
            height: auto;
            width: 666px;
        }
        &--pic{
            margin-left: 46.32px;        
            width: 767.68px;
            height: 536.07px;
    
            background-color: var(--pic);
        }
        @media screen and (max-width: 1544px) {
            &--pic{
                margin-left: 3vw;
                width: calc((97vw - 730px) * 1);
                height: calc((97vw - 730px) * 0.6983);
            }
        }
        @media screen and (max-width: 1480px){
            &--content{
                margin: auto;
                width: calc(45vw);
            }
            &--pic{
                width: calc((52vw - 64px) * 1);
                height: calc((52vw - 64px) * 0.6983);
            }
        }
        @media screen and (max-width: 1000px)  {
            flex-direction: column;
            margin: 100px auto;
            &--content{
                width: 100%;
            }
            &--pic{
                width: 551px;
                height: 384.76px;
                margin: 60px 0 0;
            }
        }
        
        @media screen and (max-width: 583px)  {
            flex-direction: column;
            width: calc(100vw - 32px);
            margin: 80px auto;
            &--pic{
                width: calc(100vw - 32px);
                height: calc((100vw - 32px) * 0.6983);
            }
        }
    }
}