.sec-8{
    display: flex;
    justify-content: center;
    min-width: 320px;
    
    background-color: var(--w);
    color: var(--b);
    
    &__tab{
        margin: 140px 0;
        width: calc(100vw - 64px);
        height: auto;
        
        display: flex;
        flex-direction: column;        
        justify-items: center;
        align-items: center;
        justify-content: center;

        &--sponsors{
            display: flex; 
            width: 1482px;
            img{
                padding-top: 100px;
                display: block;
                margin: 0 auto;   
            }
            @media screen and (max-width: 1556px) {
                width: calc(100vw - 64px);    
            }
        }


        @media screen and (max-width: 1000px)  {
            margin: 100px auto;  
            &--sponsors{
                flex-direction: column;
            }
        }

        @media screen and (max-width: 677px)  {
            width: calc(100vw - 32px);
            margin: 80px auto; 
        }

    }
}