.content{
    text-align: left;
    width: auto;
    display: block;
    overflow: hidden;

    letter-spacing: -0.02em;
    &__title{
        position: relative;
        font-weight: 700;
        font-size: 64px;
        line-height: 77px;
        background-size: cover;
    }
    &__para{
        margin: 24px 0 60px;

        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
    }
    &__underline{
        margin-top: 44.84px;
        position: absolute;
        z-index: 1;
    }
    button{
        margin: 0 auto;
        @media screen and (min-width: 1000px) {
            margin: 0;
        }
    }
    @media screen and (max-width: 1000px){
        text-align: center;
        &__title{
            font-weight: 700;
            font-size: 54px;
            line-height: 65px;
        }
    }

    @media screen and (max-width: 750px) {
        &__title{
            font-weight: 700;
            font-size: 46px;
            line-height: 54px;
        }
    }
    @media screen and (max-width: 500px) {
        &__title{
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
        }
    }
}
.picture{
    &__1{
        display: block;
        width: 551px;
        height: 367px;
        margin: auto;

        background-color: #C4DEFD;
    }
    &__2{
        width: 561px;
        height: 349px;
        margin: 60px auto 0;

        background-color: #C4DEFD;
    }
    &__3{
        display: block;
        margin: 100px auto 0;
    }
    &__4{
        width: 557px;
        height: 388.93px;
        margin: 60px auto 0;

        background-color: #C4DEFD;
    }
    &__5{
        width: 534px;
        height: 397.95px;
        margin: 0 auto 60px;

        background-color: #C4DEFD;
    }
    &__6, &__7{
        display: block;
        margin: 0 auto 100px;
    }
}