.header{
    height: 8.59vw;
    padding: 4.17vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background: #043873;
    &__logo{
        width: 191px;
        height: 34px;
    }
    &__btn{
        width: 42px;
        height: 34px;
    }
}